@{
  Layout = "_Layout";
}

@model PierreAuthId.Models.Flavors

<h2>Flavor Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This flavor does not belong to any treats</p>
}
else
{
  <h4>Treats this flavor belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Treats.Name</li>
    @using (Html.BeginForm("DeleteTreats", "Flavors"))
    {
      @Html.Hidden("joinId", @join.TreatsFlavorsId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}
<br>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorsId })</p><br>
<p>@Html.ActionLink("Back to list", "Index")</p><br>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorsId })</p><br>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorsId })</p><br>