@{
  Layout = "_Layout";
}

@model PierreAuthId.Models.Flavors

<h2>Edit</h2>

<h4>Edit this Flavor: @Html.DisplayFor(model => model.Type)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorsId)

  @Html.LabelFor(model => model.Type)
  @Html.EditorFor(model => model.Type)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId")

  <input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>